body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
button{

    border: solid;
    padding: 10px;
    background-color: rgb(0, 113, 227);
    text-decoration: none;
    color: rgb(242, 242, 242);
    border-radius: 50px;   
    
}

.box-barra-menu{
display: inline-flexbox;

}
.box-menu-inicial {
    width: 10%;
   height: 1%;
    display: inline-block;
    padding-bottom: 1%;
    
}
.gris-background {
    background-color: rgba(0, 0, 0, 0.8);

}
.link-menu-inicial{
        
    text-decoration: none;
    color: rgb(81, 81, 84);


}
.tamaño-icono-menu{
    /*16*44px*/
    width: 16px;
    height: 44px;
    

}
  .centrado{
     text-align: center;
  } 
  .texto-rojo{
      color: red;
  }
  
   
   .box-central{

    width: 725px;
    height: 650px;
       display: inline-block;
       
   }
   
   .centrar-imagen{
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;  

   }
   .letra-boton{
font-size: 15px;
   }
   .gris-claro-background{
background-color: rgb(242, 242, 242);
   }
   
   .has-margin{
      margin-top: 50px; 
      margin-bottom: 10px;
      margin-left: 5px;
      margin-right: 5px;
   }
   
   .padding-bloque-imagen{
       
        padding-bottom: 3%;
   }
   
   .padding-accesorios{
       padding-top: 4%;

   }
    .padding-accesorios2{
        padding-top: 4%;

    }
        
   .link-central{
      text-decoration: none;
      color: rgb(0, 113, 227);
  }  

  padding-mas-info{

    padding-top: 3%;
  }
  .link-pie{

    text-decoration: none;
    color: rgb(81, 81, 84);

  }   
  .box-pie{
    padding-left: 5%;
    width: 100%;
    height: 1%;
    display: inline-block;
  } 
  .gris-pie{
    background-color: rgb(245, 245, 247);
  }